.main{
  gap: 1rem;
}
@media (max-width: 1024px) {

  .main{
    gap: 0;
    display: block!important;
    header, main{
      width: 100%;
    }
    header{
      position: relative!important;
    }
  }
}
@media (max-width: 640px) {
  .container{
    padding: 0 1.8rem;
  }
}