@font-face{
  font-weight: 900;
  font-family: "myFont";
  src: url("./fonts/579e0f95cacfae57-s.p.woff2");
}
@font-face{
  font-weight: 500;
  font-family: "myFont";
  src: url("./fonts/730e8169368baf37-s.p.woff2");
}
@font-face{
  font-weight: 400;
  font-family: "myFont";
  src: url("./fonts/dc792b508e6f91c7-s.p.woff2");
}
//font-weight: 400 /* Соответствует значению normal */
//font-family: "Yandex"
//src: url("./fonts/text-regular.woff")
//@font-face
//font-weight: 900 /* Соответствует значению bold */
//font-family: "Yandex"
//src: url("./fonts/text-black.woff")
//@font-face
//font-weight: 500
//font-family: "Yandex"
//src: url("./fonts/text-medium.woff")
body {
  margin: 0;
  padding: 0;
  background-color: rgb(15 23 42/1) !important;
  font-family: 'myFont' !important;
  color: rgb(148 163 184/1) !important;
}
#index{
  overflow-y: scroll;
  height: 100vh;
}
.app{
  position: relative;
}
.cursor{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  pointer-events: none;
}

//.text_type_1{
//
//}
.text_type_2{
  color: rgb(94 234 212/1) !important;
}
.text_type_3{
  color: rgb(226 232 240/1) !important;
}

#index::-webkit-scrollbar-track
{
  -webkit-box-shadow: none;
  background-color: rgb(15, 23, 42);
}

#index::-webkit-scrollbar
{
  width: 12px;
  background-color: rgb(15 23 42/1);
}

#index::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba(29, 78, 216, 0.15);
}

a{
  text-decoration: none !important;
  color: rgb(226 232 240/1) !important;
}
*, :after, :before {
  border: 0 solid #e5e7eb;
}